<div class="row">
   
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <h1>Educacion</h1>
        <ul>
            <li>
                <h1>PROTUC</h1> - <h3>2008/2010</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eos ipsam, repellat magni soluta repudiandae ea rem amet saepe sequi? Nisi, ea! Totam expedita pariatur accusantium provident obcaecati doloribus consequatur?</p>
        </ul>

        <ul>
            <li>
                <h1>PROTUC</h1> - <h3>2008/2010</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eos ipsam, repellat magni soluta repudiandae ea rem amet saepe sequi? Nisi, ea! Totam expedita pariatur accusantium provident obcaecati doloribus consequatur?</p>
        </ul>

        <ul>
            <li>
                <h1>PROTUC</h1> - <h3>2008/2010</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eos ipsam, repellat magni soluta repudiandae ea rem amet saepe sequi? Nisi, ea! Totam expedita pariatur accusantium provident obcaecati doloribus consequatur?</p>
        </ul>
    </div>
</div>